

.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /*margin: 10px;*/
    margin-right: 10px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}